@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400');


body { font-family: 'Bowlby One SC'}

h1, h2, h3 {
  font-family: 'Oswald';
  color: #64A6BD;
  font-weight: 300;
}
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
.remark-fading { z-index: 9; }

/* Thanks to http://www.partage-it.com/animez-vos-presentations-remark-js/  (in French) */
.remark-slide-container {transition: opacity 0.5s ease-out;opacity: 0;}
.remark-visible {transition: opacity 0.5s ease-out;opacity: 1;}

/* From liminal template Some special classes */
.title {font-family: 'Oswald'; font-size: 3.3em; color:#64A6BD; font-weight:300;}
.subtitle {font-family: 'Josefin Slab';font-size: 1.0em; font-style:italic;}
.author {font-family: 'Josefin Slab'; font-size: 1.4em; color:#606060;letter-spacing:0.02em}
.coauthor {font-size: 1.0em; color:#606060;font-weight:bold;letter-spacing:0.02em}
.institution {font-family: 'Josefin Slab',font-size: 1.0em;}
.date {font-family: 'Josefin Slab',font-size: 1.0em;font-style: italic;}

.cite {font-size: 0.8em; color:#33AA99;font-style: italic}
.strike {color:salmon;text-decoration:line-through}

/*Set color scheme for links.*/
a {text-decoration: none; color: #666666;text-align:center; width: 24%}
/*Setting link properties is particular, do not change order below*/
a:visited {color:#666666}
a:hover {color:#33AA99}
a:active, #active {color:#FF9700;}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #64A6BD;
  color: #CC2936;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #F5CB5C;
  line-height: 1.0em;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img {
  max-width: 100%;
}


.small_img {

  max-width: 50%;
}
.bottom_header {
  position: absolute;
  bottom: 0;

}

.oswald_bold {
  font-family: 'Oswald';
  font-weight: 700;
}

.oswald_medium {
  font-family: 'Oswald';
  font-weight: 400;
}

.oswald_light {
  font-family: 'Oswald';
  font-weight: 300;
}

.scope {
  font-family: 'Scope One';
}

.remark-slide-content { background-size: contain; }

.remark-slide-number {
  font-size: 0;
}

.stylish_title {
  font-family: 'Lobster Two';
  font-size: 10em;
  color: #CC2936;
}

.stylish_subtitle {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 3em;
  color: #CC2936;
}

.big_text {
  font-family: 'Scope';
  font-size: 1.7em;
}

.yellow {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 3em;
  color: #F5CB5C;
}
